<li>
    <article class="post">
        <a href="{% url 'post-detail-page' post.slug %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="post__content">{# B.E.M. block element modifier #}
                <h3>{{ post.title }}</h3> {# instead post['title'] use dot notation always in DTL #}
                <p>{{ post.excerpt }}</p>
            </div>
        </a>
    </article>
</li>