{% extends "base.html" %}

{% block title %}
We didn't find that page!
{% endblock %}

{% block content %}
    <h2>We're sorry!</h2>
    <p>But we couldn't find that page!</p>
{% endblock %}

{# This 404 page is getting picked up by Django whenever a 404 page needed  #}
{# While you are in development mode (DEBUG = True) it won't be picked up #}